{% extends 'base.html' %}

{% block content %}
        <header>
            <h1>FORUM UNDER CONSTRUCTION</h1>
            <h3>Git up on outta here</h3>
        </header>

        <main>
            <div class="matchup" id="vsweek1">
                <h4></h4>
                <img src="https://pbs.twimg.com/profile_images/1377974253438562305/ftOl14Zv_400x400.png">
                <p>
                  <div class="content">
                    <table border = 1>
                       <thead>
                          <td>Title</td>
                          <td>Post</td>

                       </thead>
                    {% for message in messages %}
                    <tr>
                      <td class="content">{{ message["title"] }}</td>
                      <td class="content">{{ message["content"] }}</td>
                    </tr>
                    {% endfor %}

                  </div>
                </p>
            </div>
        </main>
{% endblock %}
