{% extends 'base.html' %}

{% block content %}
        <header>
            <h3>Welcome to,</h3>
            <h1>THE BIG DAWGS</h1>
        </header>
        <main>
            <div class="news-post" id="news1">
                <h4>9/16/22: Fantasy Football Website Launch!</h4>
                <p>
                    Welcome to the official "The Big Dawgs" fantasy football website.  By using the bottom navigation bar you will be able to access: Up to date league news, weekly power rankings, league game previews, and communicate with your league-mates on the forum.
                </p>

    
                  <div id="plot"></div>
            </div>
        </main>
{% endblock %}
